*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    display: flex;
    flex-direction: row;
    margin: 200px auto;
    max-width: 800px;
    height: 200px;
    background: #4b0071;
}

.child{
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    background: #00aca3;
}